main{
    display: flex;
    flex-direction: column;
    
    hr{
        width: 50vw;
        align-self: center;
        border-color: #6320ee;
        border-radius: 40%;
    }
    
    img{
        width: 32rem;
        margin: 2rem;
        align-self: center;
    }
}
