section.tasks{
    background-color: #ccc5b99d;
    display: flex;
    flex-direction: column;
    width: 28rem;
    max-height: 100vh;
    min-height: 8rem;
    margin: 1rem auto;
    padding: 1rem;
    border-radius: 8px;
    box-shadow: 1rem 1rem 1rem #333333;
    overflow-y: auto;
    scroll-behavior: smooth;
    

    h2{
        text-align: center;
        letter-spacing: .2rem;
        cursor: default;
    }

    hr{
        border: .1rem solid #643173;
        border-radius: 50%;
        margin: 1rem 0;
    }

    a.btn-add{
        display: grid;
        justify-content: center;
        text-align: center;
        height: 2.4rem;
        width: 2.4rem;
        border-radius: 50%;
        align-self: center;
        font-size: 2.4rem;
        transition: .3s ease-in-out all;
        margin-bottom: 1rem;

        &:hover{
            box-shadow: 0 0 .5rem #643173;
        }
    }

    div.list{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}