section.add{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem 0;
    
    h3{
        margin-bottom: 2rem;
        letter-spacing: .2rem;
        text-transform: uppercase;
        color: #fffcf2;
    }

    form{
        min-width: 40rem;
        width: 38rem;
        padding: 1rem;
        display: flex;
        border-radius: 12px;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        background-color: #ccc5b9;
        box-shadow: 0 0 1rem #252422;
    
        div.title{
            display: flex;
            flex-direction: inherit;
            padding: .5rem;
            width: inherit;
            
            label{
                letter-spacing: .1rem;
                text-align: left;
                padding: .1rem;
                font-weight: 700;
            }
            
            input{
                font-size: 1rem;
                border: none;
                border-bottom: .1rem solid #643173;
                outline: none;
                transition: .3s ease-in-out;
                background-color: unset;

                &:hover{
                    border-color: #c52184;
                }
            }
        }

        div.description{
            display: flex;
            flex-direction: inherit;
            padding: .5rem;
            width: inherit;

            label{
                letter-spacing: .1rem;
                text-align: left;
                padding: .1rem;
                font-weight: 700;
                transition: .3s ease-in-out all;
            }

            textarea{
                padding: 1rem;
                outline: none;
                border: .1rem solid #643173;
                border-radius: 8px;
                resize: none;

                &:hover{
                    border-color: #c52184;
                }
            }
        }

        div.box-radio{
            padding: 1rem 0;
            width: 100%;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-around;

            hr{
                border: .1rem solid #643173;
                align-self: stretch;
                border-radius: 50%;
            }

            &-content{
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;

                label.header{
                    font-weight: 700;
                    letter-spacing: .2rem;
                    margin-bottom: 1rem;
                    text-align: center;
                }
                
                &-items{
                    display: inherit;
                    align-items: center;
                    justify-content: center;

                    div{
                        display: flex;
                        flex-direction: column;
                        justify-content: space-evenly;
                        align-items: center;
                        width: 5rem;

                        label{
                            letter-spacing: .1rem;
                        }

                        input{
                            appearance: none;
                            transition: .2s ease all;
                            margin-top: .5rem;
                            border-radius: 50%;
                            width: 16px;
                            height: 16px;
                            border: .2rem solid #643173;
                            
                            &:hover{
                                border: .2rem solid #c52184;
                            }

                            &:checked{
                                border: .4rem solid #643173;
                            }
                        }
                    }
                }
            }
        }

        hr{
                border: .1rem solid #643173;
                align-self: stretch;
                border-radius: 50%;
                margin: 1rem 0;
        }

        div.deadline{
            margin-bottom: 1rem;
            display: flex;
            flex-direction: column;

            label{
                letter-spacing: .1rem;
                text-align: center;
                padding: .5rem;
            }

            input{
                width: auto;
                padding: .3rem;
                border-radius: 8px;
                border: .1rem solid #333;
                outline: none;
                transition: .3s ease-in-out all;

                &:hover{
                    border: .1rem solid #c52184;
                }
            }
        }

        div.buttons{
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
            align-items: center;
            width: 16rem;

            button{
                font-size: 1rem;
                background-color: #643173;
                border: none;
                height: 2rem;
                width: 6rem;
                border-radius: 8px;
                color: #fffcf2;
                transition: .3s ease-in-out;
                
                &:hover{
                    background-color: #474044;
                }
            }
            
            a{
                font-size: 1rem;
                background-color: #643173;
                border: none;
                height: 2rem;
                width: 6rem;
                border-radius: 8px;
                color: #fffcf2;
                transition: .3s ease-in-out;
                text-align: center;
                text-decoration: none;
                display: flex;
                align-items: center;
                justify-content: center;
                cursor: default;
                
                &:hover{
                    background-color: #474044;
                }
            }
        }
    }
}
