header{
    height: 6rem;
    background-color: #0d0d0d;
    color: #fffcf2;
    display: flex;
    flex-flow: wrap row;
    justify-content: space-between;
    width: 100%;
    
    
    div{
        display: inherit;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        
        img{
            height: 4em;
            align-self: center;
            margin-right: .5rem;
        }
        
        h1{
            font-size: 1.5rem;
            text-transform: capitalize;
            color: #fffcf2;
            letter-spacing: .2rem;
            text-align: left;
        }
    }


    nav{
        align-self: flex-end;

        ul{
            display: flex;
            justify-content: space-around;
            align-items: center;

            li{
                width: 6rem;
                list-style: none;
                padding: .5rem;
                text-align: center;
                
                a{
                    color: #fffcf2;
                    text-decoration: none;
                    letter-spacing: .1rem;
                }
            }
        }
    }
}
