header{
    height: 15vh;
    background-color: #211a1da6;
    color: ivory;
    display: flex;
    // border-bottom: .15rem solid #6320ee;
    flex-flow: wrap row;
    justify-content: space-between;
    
    
    div{
        display: inherit;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        
        img{
            height: 4em;
            align-self: center;
            margin-right: .5rem;
        }
        
        h1{
            font-size: 1.5rem;
            text-transform: capitalize;
            color: #fffcf2;
            letter-spacing: .2rem;
            text-align: left;
        }
    }


    nav{
        align-self: flex-end;

        ul{
            display: flex;
            justify-content: space-around;
            align-items: center;

            li{
                width: 6rem;
                list-style: none;
                padding: .5rem;
                text-align: center;
                
                a{
                    color: #fffcf2;
                    text-decoration: none;
                    letter-spacing: .1rem;
                }
            }
        }
    }
}
