@font-face {
    font-family: PublicSans;
    src: url("./assets/fonts/PublicSans-VariableFont_wght.ttf");
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #0d0d0d;
    font-family: PublicSans;
}

html{
    scroll-behavior: smooth;
    height: 100%
}

body{
    background: #7d5ba6 url('assets/images/background.png') fixed no-repeat;
    background-position: bottom left;
    background-size: contain;
    background-blend-mode: luminosity;
    min-width: 600px;
    height: 140%;
}

div#root{
    min-height: 100%;
    position: relative;
}
