@font-face {
    font-family: PublicSans;
    src: url("./assets/fonts/PublicSans-VariableFont_wght.ttf");
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #fffcf2;
    font-family: PublicSans;
}

html{
    scroll-behavior: smooth;
}

body{
    background-color: #252422;
    min-width: 100vh;
    min-height: 100vh;
}