@font-face {
    font-family: PublicSans;
    src: url("./assets/fonts/PublicSans-VariableFont_wght.ttf");
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #293132;
    font-family: PublicSans;
}

html{
    scroll-behavior: smooth;
}

body{
    background: linear-gradient(to top, #643173 0%, #333333 100%);
    min-width: 600px;
    min-height: 100vh;
}